 body {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     color: lightgray;
     overflow-x: hidden;
     height: 100%;
     width: 100%;
 }

 .container {
     position: relative;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 100px;
     background-color: #001f7c38;
 }

 .back-vid {

     position: fixed;
     right: 0;
     bottom: 0;
     z-index: -1;
     mix-blend-mode: lighten;
     width: 100%;
     height: 100%;
     object-fit: cover;


 }

 @media(max-aspect-ratio: 16/9) {
     .back-vid {
         width: 100%;
         height: 100%;
     }
 }

 @media(min-aspect-ratio: 16/9) {
     .back-vid {
         width: 100%;
         height: 100%;
     }
 }

 header {
     display: flex;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     align-items: center;
     justify-content: space-between;
     height: 70px;
     background: rgb(255, 255, 255, 0.123);
     backdrop-filter: blur(10px);
     padding: 0 30px;
     box-shadow: 0 0 15px rgba(33, 86, 192, 0.1);
     z-index: 999;
 }

 .left {
     display: flex;
     align-items: center;
 }

 .left img {
     width: 40px;

     margin: 0 15px;
 }

 header ul {
     display: flex;
     justify-content: space-between;
     width: 30%;
     padding: 15px 15px;
     border-radius: 50px;
     background-color: rgb(0, 0, 69, 0.30);
     backdrop-filter: blur(10px);
     box-shadow: 0 0 10px #727fde65;
 }

 header ul li {
     list-style: none;
 }

 header ul li a {
     text-decoration: none;
     color: white;
     font-weight: 700;
     margin: 0 10px;
 }

 .box-icons {
     display: flex;
     gap: 40px;
 }

 .box-icons a {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     width: 30px;
     height: 30px;
     border: 2px solid #727fde;
     color: lightgray;
     border-radius: 50%;
 }

 .box-icons a:hover {
     background-color: #727fde;
     color: white;
     transition: 0.3s ease-in-out;
     box-shadow: 0 0 15px #727fde6f;
 }

 .black-hole {
     z-index: -1;
     position: absolute;
     top: 0;
     width: 100%;
     justify-content: center;
     mix-blend-mode: lighten;
 }

 .black-hole video {
     width: 100%;
     margin-top: -30%;
 }

 .hero {
     position: relative;
     display: flex;
     width: 100%;
     height: 100vh;
     align-items: center;
     justify-content: space-between;
 }

 .info-hero {
     position: absolute;
     left: 5%;

 }

 .info-hero .info-hero-title {
     color: #727fde;
     padding: 8px 5px;
     border: 1px solid #727fde;
     width: 240px;
     background-color: #2200493a;
     box-shadow: 0 0 5px #727fde;
     border-radius: 40px;
 }

 .info-hero h1 {
     font-size: 60px;
     max-width: 600px;
     font-weight: 700;
     line-height: 70px;
     margin-top: 40px;
     margin-bottom: 30px;
 }

 .info-hero p {
     font-size: 20px;
     max-width: 600px;
     line-height: 30px;
     margin-bottom: 40px;
 }

 .info-hero button {
     padding: 15px 30px;
     border-radius: 50px;
     background-color: #727fde;
     color: white;
     font-size: 20px;
     font-weight: 700;
     border: 1px solid #727fde;
     cursor: pointer;
     box-shadow: 0 0 10px #727fde6f;
 }

 .info-hero button:hover {
     background-color: #2200493a;
     color: #727fde;
     transition: 0.3s ease-in-out;
     box-shadow: 0 0 15px #727fde6f;
 }
.hero-vid-box video{
    height: 50px;
    mix-blend-mode:lighten;
}
 .gradient {
     background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #2a46ff, #0099ff, #008baa);
     background-size: 200%;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: animate-gradient 2.5s linear infinite;
 }

 @keyframes animate-gradient {
     to {
         background-position: 200%;
     }

     50% {
         background-position: 100%;
     }

     100% {
         background-position: 0%;
     }
 }

 .hero-vid-box {
     position: absolute;
     right: 3%;
 }

 .hero-vid-box video {
     height: 600px;
     mix-blend-mode: lighten;
 }

 .scroll-box {
     height: 50px;
     width: 30px;
     position: absolute;
     border: 2px solid lightgray;
     left: 49%;
     bottom: 8%;
     border-radius: 50px;
     cursor: pointer;
     box-shadow: 0 0 15px #727fde6f;
 }

 .scroll-box::before,
 .scroll-box::after {
     content: "";
     position: absolute;
     top: 20%;
     left: 49%;
     height: 10px;
     width: 10px;
     border: 2px solid lightgray;
     transform: translate(-50%, -100%) rotate(45deg);
     border-top: transparent;
     border-left: transparent;
     animation: scroll-bown 2s ease-in-out infinite;
 }

 .scroll-box::before {
     top: 30%;
     animation-delay: 0.5s;
 }

 @keyframes scroll-bown {
     0% {
         opacity: 0;
     }

     30%,
     60% {
         opacity: 1;
     }

     100% {
         top: 90%;
         opacity: 0;
     }
 }

 .info-section {
    position: relative;
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

 .section-title {
     font-size: 40px;
     font-weight: 700;
 }

 @media (max-width: 1000px) {
     .info-card {
         grid-template-columns: 1fr 1fr;
     }
 }

 @media (max-width: 600px) {
     .info-card {
         grid-template-columns: 1fr;
     }
 }

 .info-card {
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
     width: 100%;
     height: 100%;
     margin-top: 30px;
 }

 .card {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     position: relative;
     width: auto;
     height: 40vh;
     overflow: hidden;
     border: 1px solid gray;
     background-color: black;
     border-radius: 20px;

 }

 .p1 {
     width: 100%;
     height: auto;
     border-radius: 8px;
     margin-bottom: 1rem;
     object-fit: cover;
 }

 .p1-4 {
     width: 100%;
     height: 100%;

 }

 .card img {
     width: 50%;
     height: 50%;
     object-fit: cover;
 }

 .h1-3 {
     position: absolute;
     margin: 0;
     bottom: 40%;
     left: 5%;
     font-size: 25px;
     z-index: 1;
     color: lightgray;
     top: 15%;
 }

 .card h1 {
     position: absolute;
     margin: 0;
     bottom: 40%;
     left: 5%;
     font-size: 25px;
     z-index: 1;
     color: lightgray;
 }

 .card p {
     position: absolute;
     bottom: 3%;
     left: 5%;
     font-size: 13px;
     z-index: 1;
     color: gray;
     max-width: 300px;
     line-height: 20px;
 }

 .card video {
     margin-top: 10%;
     width: 70%;
     height: 50%;
     object-fit: cover;
     mix-blend-mode: lighten;

 }

 .card button {
     padding: 5px 15px;
     border-radius: 50px;
     background-color: #1f3ad6;
     color: white;
     font-size: 20px;
     font-weight: 700;
     border: 1px solid #727fde;
     cursor: pointer;
     box-shadow: 0 0 10px #727fde6f;
     position: absolute;
     bottom: 5%;
     left: 5%;
 }

 .card button:hover {
     box-shadow: 0 0 15px #bcbdc16f;
     opacity: 0.7;
     background-color: rgb(104, 29, 224);
 }

 .card:hover {
     box-shadow: 0 0 15px #727fde6f;

 }

 .card:nth-child(3) {
     grid-row: span 2;
     height: 83vh;
 }

 .card:nth-child(3) p {
     bottom: 12%;
 }

 .card:nth-child(3) h1 {
     bottom: 21%;
 }

 .card:nth-child(4) {
     grid-row: span 2;
 }

 .card:nth-child(4) p {
     max-width: 650px;
 }

 .card:nth-child(4) h1 {
     bottom: 35%;
 }
 
.my-projects {
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    width: 80%;
    height: auto; /* Changed from 100vh */
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px; /* reduced */
}

 .project-card{
     display: flex;
     width: 100%;
     height: 40%;
     justify-content: center;
     gap: 10%;
     align-items: center;
 }

 .project-vibox {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     position: relative;
     cursor: pointer;
     min-width: 400px;
     transition: 0.5s;
     mix-blend-mode: difference;
 }
 .video1{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition:0.5s;
 }
    .video1:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px lightgray;
    }
  .project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
  }  
  .project-info h1{
    font-size: 25px;
    width: 90%;
    font-weight:bold ;
    text-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 0;
    max-width:450px;
  }
  .project-info p{
    font-size: 15px;
    width: 90%;
   min-width: 300px;
    max-width:400px;
    margin-bottom: 50px;
    margin-top: 0;
  }
